<h2>Hi <%= @user %></h2>
<p> We hope you are doing well. This email is a confirmation for your booking with doctor 
you made on 
</p>
<p>If for some reason you cannot attend, please let us know or if you prefer you can remove your appointment 
<%= link_to "My appointments", appointments_url %></p>


