<div class="footer">         
  <div class="icons-container">
    <div class="mb-3">
      <div class="footer-links">
        <a href="https://www.linkedin.com/company/diagnostikare/?originalSubdomain=co" style="color:#176B61; !important" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="mb-3">
      <div class="footer-links">
        <a href="https://www.instagram.com/diagnostikare/" style="color:#176B61; !important" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="mb-3">
      <div class="footer-links">
        <a href="https://www.facebook.com/Diagnostikare/" style="color:#176B61; !important" target="_blank"><i class="fab fa-facebook"></i></a> 
      </div>
    </div>
  </div>
</div>