  <div class="top-banner-section">
      <!-- The CSS grid area that displays the image (layer 1) -->
    <div class="banner-image-div">
      <img class="banner-image" src="https://images.unsplash.com/photo-1576091160399-112ba8d25d1d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Banner Image" />
    </div>
    <!-- The CSS grid area that displays the semi-transparent gradient overlay (layer 2) -->
    <div class="banner-overlay-div"></div>
    <!-- The CSS grid area that displays the content (layer 3) -->
    <div class="banner-text-div">
      <span class="banner-text">
        <p class="banner-h1-text">La mejor plataforma de salud <br> presencial y en linea</p>
        <p class="banner-body-text">Nuestra alta gama de servicios <br> es la mejor opcion en estos tiempos</p>
        <div class="banner-search">
           <button class="btn-banner"><%= link_to 'Conocenos', doctors_path, style: "color: white;" %></button></div>
        </div>
      </span>
    </div>