.navbar-diagnostikare {
  justify-content: space-between;
  background-color: transparent;
  transition: 1s background-color ease;
}

.navbar-darker {
  background-color: #C3CCCB
}

.navbar-diagnostikare .navbar-collapse {
  flex-grow: 0;
}

#navbar-text {
  color: #176B61; 
  font-size: 18px;
  text-decoration: none !important;
  margin-left: 2rem;
  &:hover {
    color: #4a5e5c;;
  }
}

@media screen and (min-width: 768px){
  #navbar-text {
    font-size: 1rem;
  } 
}